@blue: #0fbcfa;
@gray: #999999;
@red: #e01d43;
@white: white;
@bgk: #051e32;
@borderColor: #1e3547;
@footer: #051624;

@font-face {
    font-family: number;
    src: url('../bahnschrift.ttf')
}

* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body {
    background: @bgk;
}

.el-loading-mask {
    background-color: transparent !important;
}

.el-message-box {
    width: 80% !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.el-form-item__error {
    color: @red  !important;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
    border-color: @red  !important;
}

.clear::after {
    clear: both;
    height: 0;
    overflow: visible;
    display: block;
    content: '';
}

.layout {
    margin: 60px 20px;
}

#nav {
    background-color: @footer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    a {
        color: @white;
        text-align: center;
        display: block;
        padding: 5px 0;

        i {
            font-size: 18px;
            line-height: 25px;
        }

        p {
            line-height: 25px;
        }

    }

    .router-link-exact-active {

        i,
        p {
            color: @blue;
        }
    }

}

#top {
    background-color: @bgk;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 999;

    .back {
        color: @white;
        font-size: 18px
    }

    .title {
        color: @white;
        font-size: 16px;
        text-align: center;
        line-height: 60px;
    }
}

.center {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/*
/
/-----------------------login---------------------------------
/
*/
#login {
    padding: 30px 0;
    margin: 0 20px;
    position: relative;
    min-height: 100vh;
    align-items: center;
    box-sizing: border-box;

    .logo {
        width: 30%;
        margin: 0 auto;
        display: block;
    }

    .loginForm {
        margin-top: 50px;

        .el-input__inner {
            background: transparent;
            border: none;
            border-bottom: 1px solid @borderColor;
            border-radius: 0;
            padding-left: 35px;
            color: @white;

            &::-webkit-input-placeholder {
                color: @gray
            }

            &:focus {
                border-color: @blue;
            }
        }

        i {
            position: absolute;
            left: 8px;
            color: @blue;
            top: 0;
        }
    }

    .otherLoginWay {
        position: absolute;
        bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        align-items: center;

        .otherTitle {
            background-color: @gray;

            .el-divider__text {
                background-color: @bgk;
                color: @gray;
            }
        }

        .loginList {
            margin-top: 30px;
            text-align: center;

            li {
                margin: 0 10px;
                display: inline-block;

                span {
                    border: 1px solid @blue;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    padding: 8px;
                    display: block;
                    box-sizing: border-box;
                    align-items: center;
                    display: flex;
                }

                P {
                    margin-top: 8px;
                    color: @white;
                }
            }
        }
    }
}

.forget {
    color: @white;

}

.submit.el-button {
    width: 250px;
    height: 38px;
    border-radius: 19px;
    background: @blue;
    color: @white;
    border: none;
    display: block;
    margin: 25px auto 0;

    span {
        font-size: 14px;
    }

    &:focus,
    &:hover {
        color: @white;
        border-color: @blue;
        background-color: @blue;
    }
}

.login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .el-dialog {
        background-color: @bgk;
        margin: 0 !important
    }
}

.otherlogin {
    width: 100%;

    img {
        width: 70%;
    }

    h5 {
        color: @white;
        font-size: 16px;
        margin: 20px 0;
    }

    .loginWay {

        .el-input__inner {
            background: transparent;
            border: none;
            border-bottom: 1px solid @borderColor;
            border-radius: 0;
            color: @white;
            padding: 0;


            &::-webkit-input-placeholder {
                color: @gray;
            }

            &:focus {
                border-color: @blue;
            }
        }

        .phone {
            .el-input__inner {
                padding-left: 120px;
            }
        }

        .el-form-item__label {
            color: @white;
        }

        .el-form-item__content {
            position: relative;

            .send {
                position: absolute;
                right: 0px;
                border: none;
                background: transparent;
                color: @blue;
            }

            .el-select {
                position: absolute;
                right: 0;
                border: none;
                width: 120px;
                z-index: 99
            }

            .area.el-select {
                left: 0;
            }
        }
    }
}

.el-select-dropdown {
    background-color: @bgk  !important;
    border-color: @blue  !important;

    .el-select-dropdown__item {
        color: @white;
        height: 38px !important;
        line-height: 38px !important;
    }

    .el-select-dropdown__list {
        padding: 0;
    }

    .el-select-dropdown__item.selected {
        background-color: @blue;
        color: @white
    }

    .el-select-dropdown__item.hover,
    .el-select-dropdown__item:hover {
        background-color: @blue;
        color: @white
    }

    .el-popper[x-placement^=bottom] .popper__arrow::after {
        border-bottom-color: @blue  !important
    }
}

/*
*
*
*------------------------------home>index----------------------------
*
*/
.header {
    height: 60px;
    overflow: hidden;

    .title {
        color: @white;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
    }

    .news {
        color: @white;
        float: right;
        line-height: 60px;

        .el-badge {
            border: none;
            overflow: visible;

            .el-badge__content {
                border: none;
            }

            i {
                font-size: 18px;
            }
        }
    }
}

.home {
    border-radius: 6px;
    overflow: hidden;
    background: url(../image/bg.png) no-repeat bottom, linear-gradient(to top right, #0a75ff, #10c5f9);
    background-size: 100%;
    padding: 20px 0;
    min-height: 150px;
    box-sizing: border-box;
    align-items: center;

    #avatar {
        p {
            color: @white;
            font-size: 16px;
            margin-top: 8px
        }
    }

    .purse {
        text-align: right;
        color: @white;

        h4 {
            font-weight: 500;
            font-size: 20px;
            font-family: number;
            line-height: 40px;

            span {
                font-size: 16px;
                margin-right: 5px;
            }
        }

        p {
            font-size: 14px;
        }
    }

    .purseLists {
        margin-top: 20px;

        a {
            color: @white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;

            span {
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 50%;
                background: @white;
                box-sizing: border-box;
                line-height: 25px;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: @blue;
                    text-align: center;
                }

            }
        }
    }
}

.interest {
    margin-top: 20px;

    .interest-title {
        position: relative;
        border-left: 2px solid @blue;
        color: @white;
        font-size: 14px;
        padding-left: 8px;
        line-height: 25px;

        a {
            color: @white;
            position: absolute;
            right: 0;
            font-size: 18px;
        }
    }

    .walletList {
        overflow: hidden;
        margin-top: 20px;

        ul {
            height: calc(100vh - 373px);
            overflow-y: auto;

            li {
                position: relative;
                border-bottom: 1px solid @borderColor;
                padding: 8px 35px 8px 48px;
                height: 40px;

                img {
                    width: 35px;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }

                i {
                    font-size: 20px;
                    position: absolute;
                    right: 5px;
                    top: 8px;
                    line-height: 40px;
                }

                .el-icon-star-off {
                    color: @white;
                }

                .el-icon-star-on {
                    color: @blue;
                }

                .walletName {
                    line-height: 40px;
                    font-size: 16px;
                    color: @white;
                    display: flex;
                    align-items: center;

                    span {
                        color: @blue;
                        margin-left: 8px;
                        padding-left: 10px;
                        position: relative;
                        font-size: 14px;
                        font-family: number;

                        &:after {
                            width: 5px;
                            height: 5px;
                            position: absolute;
                            left: 0;
                            border-radius: 50%;
                            background: @blue;
                            display: block;
                            content: '';
                            left: 0;
                            top: 50%;
                            margin-top: -2.5px;
                        }
                    }
                }

                .percent {
                    text-align: right;

                    h5 {
                        color: @white;
                        font-size: 16px;
                        font-family: number;
                        line-height: 25px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}

.currency {
    color: @white;

    p {
        margin-bottom: 10px;
    }

    .coin {
        border-bottom: 1px solid @borderColor;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        font-size: 16px;
        position: relative;
        margin-bottom: 10px;

        img {
            width: 35px;
            margin-right: 8px;
        }

        i {
            position: absolute;
            right: 0
        }
    }

    .coinAmount {
        .el-input__inner {
            background: transparent;
            border: none;
            border-bottom: 1px solid @borderColor;
            border-radius: 0;
            padding: 0;
            color: @white;

            &:focus {
                border-color: @blue;
            }
        }
    }
}

.tips {
    margin-top: 30px;

    p {
        line-height: 180%;
        text-align: justify;
    }
}


/*
*
*
*-------------------------------home>invest-----------------------------
*
*
*/
.invest {
    background: #051725;
    padding: 30px 20px;
    text-align: center;

    h6 {
        font-size: 16px;
        color: @white;

        span {
            color: @blue;
            font-size: 16px;
        }
    }

    img {
        margin: 20px auto;
        width: 150px;
        display: block;
    }

    .hold.el-button {
        display: block;
        background: @blue;
        color: @white;
        margin: 0 auto;
        border: none;
        border-radius: 19px;

        &:focus,
        &:hover {
            background: @blue;
            color: @white;
        }
    }

    p {
        color: @white;
        font-size: 14px;
        margin: 20px 0;
    }

    .address {
        color: @white;
        font-family: number;
        letter-spacing: 2px;
        line-height: 150%;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 14px;
    }

    #copy.el-button {
        background: #697486;
        border: none;
        color: @white;
        min-width: 100px;
        border-radius: 19px;
        margin-top: 20px;

        &:focus,
        &:hover {
            background: #697486;
            color: @white;
        }
    }
}

.investTips {
    margin-top: 20px;

    h6 {
        color: @white;
        font-size: 14px;
        line-height: 180%;
    }

    p {
        line-height: 180%;
        color: @gray;
        text-align: justify;
    }
}

/**
**
**
**------------------------------home>history---------------------------
**
**
**/
.infinite-list-wrapper {

    overflow: hidden;
    height: calc(100vh - 106px);

    p {
        color: @white;
        text-align: center;

        i {
            color: @blue
        }
    }

    .list {
        li {
            border-bottom: 1px solid @borderColor;
            position: relative;
            padding-right: 50%;
            margin-bottom: 8px;
            padding-bottom: 5px;

            p {
                color: @gray;
                line-height: 20px;
                text-align: left;
            }

            span {
                color: @white;
                line-height: 20px;
                font-size: 14px;
            }

            h6 {
                position: absolute;
                right: 0;
                top: 0;
                line-height: 40px;
                font-size: 14px;
                font-family: number;
            }
        }
    }

    .news {
        border-bottom: 1px solid @borderColor;
        margin-bottom: 8px;

        a {
            color: @white;
            position: relative;
            padding: 8px 20px 8px 0;
            display: block;

            p {
                text-align: left;
                color: @gray;
                display: flex;
                align-items: center;
            }

            span {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #e01d43;
                margin-left: 8px;
                display: inline-block;
            }

            h6 {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            i {
                right: 0;
                display: block;
                top: 8px;
                position: absolute;
                line-height: 33px;
            }
        }
    }
}

/**
**
**
**-----------------------------------home>cash----------------------------------
**
**/
#tabs {
    position: relative;

    .el-tabs__nav-wrap::after {
        background-color: transparent;
    }


    .el-tabs__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: @bgk;

        .el-tabs__nav {
            width: 100%;

            .el-tabs__item {
                width: 50%;
                text-align: center;
                color: @white;
            }

            .el-tabs__item.is-active {
                color: @blue;
            }

            .el-tabs__active-bar {
                background-color: @blue;
            }
        }

    }

    .el-tabs__content {
        padding-top: 54px;

        .cashList {
            overflow: hidden;

            ul {
                height: calc(100vh - 139px);
                overflow-y: auto;

                li {
                    border-bottom: 1px solid @borderColor;
                    margin-bottom: 8px;
                    padding: 8px 100px 8px 0;
                    position: relative;

                    h5 {
                        font-family: number;
                        font-size: 14px;
                        color: @white;
                        line-height: 25px;
                    }

                    p {
                        color: @gray;
                        line-height: 20px;
                    }

                    span {
                        position: absolute;
                        right: 0;
                        top: 8px;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}

.cash {
    margin-top: 20px;

    li {
        margin-bottom: 10px;

        p {
            color: @white;
            line-height: 180%;
            margin-bottom: 10px;
        }

        h5 {
            border-bottom: 1px solid @borderColor;
            line-height: 40px;
            color: @blue;
            font-size: 16px;
            font-family: number
        }

        .entry {
            .el-input__inner {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid @borderColor;
                border-radius: 0;
                padding: 0;
                color: @white;

                &::-webkit-input-placeholder {
                    color: @gray;
                }

                &:focus,
                &:hover {
                    border-color: @blue
                }
            }
        }
    }
}

/**
**
**
**-------------------------------------my-----------------------------------
**
**
**/
#myPhoto {
    background: linear-gradient(to top right, #0a75ff, #10c5f9);
    padding: 50px 20px 30px 20px;
    min-height: 150px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    text-align: center;

    .avatarPicter {
        display: flex;
        justify-content: center;

        .myAvatar {
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }
    }

    .icon-edit {
        position: absolute;
        color: @white;
        font-size: 20px;
        right: 20px;
        top: 20px;
    }

    h5 {
        font-size: 18px;
        margin-top: 10px;
        color: @white;
    }

    p {
        margin-top: 8px;
        color: @white;
    }
}

.myList {
    margin: 20px 20px 15px;
    overflow: hidden;

    .myContent {
        height: calc(100vh - 298px);
        overflow-y: auto;

        ul {
            li {
                position: relative;
                padding: 8px 35px;
                border-bottom: 1px solid @borderColor;
                line-height: 30px;

                a {
                    display: block;
                    color: @white;

                    i {
                        color: @blue;
                        position: absolute;
                        left: 5px;
                    }

                    span {
                        position: absolute;
                        right: 5px;
                        top: 8px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

/**
***
**
**------------------------------my>USDT-------------------------
**
**
**/

.bind {
    padding-top: 20px;

    p {
        font-size: 14px;
        color: @white;
        margin-bottom: 10px;
    }

    .el-textarea__inner {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid @borderColor;
        min-height: 80px !important;
        border-radius: 0;
        color: @white;
        padding: 0;

        &:focus {
            border-color: @blue;
        }

        &::-webkit-input-placeholder {
            color: @gray;
        }
    }
}


/**
**
**
**--------------------------------my>set--------------------------------------
**
**/
.set {
    margin-top: 20px;

    ul {
        li {
            border-bottom: 1px solid @borderColor;
            line-height: 40px;
            margin-bottom: 10px;

            a {
                color: @white;
                position: relative;
                display: block;

                i {
                    position: absolute;
                    right: 0;
                    line-height: 40px;
                }
            }
        }
    }
}



/**
**
*
*-------------------------------------my>manage------------------------------
*
**/
.rank {
    .manage {
        border-bottom: 1px solid @borderColor;
        text-align: center;
        padding: 15px 0;

        h5 {
            font-family: number;
            font-size: 16px;
            line-height: 180%;
            color: @blue;
            height: 28px;
        }

        p {
            color: @white;
        }
    }
}

.partner {
    h5 {
        border-left: 2px solid @blue;
        padding-left: 5px;
        color: @white;
        font-size: 14px;
        line-height: 180%;
        margin: 20px 0;
    }

    .partnerList {
        overflow: hidden;

        ul {
            height: calc(100vh - 370px);
            overflow-y: auto;

            li {
                border-bottom: 1px solid @borderColor;
                padding: 8px 5px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: left;
                color: @white;

                img {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                p {
                    font-size: 14px;
                }

                span {
                    position: absolute;
                    right: 10px;
                    font-size: 14px;
                    font-family: number;
                    color: @blue
                }
            }
        }
    }
}

/**
**
**
**----------------------------------fc-------------------------------
**
**
**/
.fc {
    text-align: center;

    h5 {
        color: @blue;
        font-size: 20px;
        font-family: number;
        line-height: 180%;
    }

    a {
        color: @white;
    }
}

.fcList {
    background-color: #07263e;
    padding: 20px;
    margin-top: 20px;
    height: calc(100vh - 192px);

    .operate {
        li {
            float: left;
            width: 25%;

            a {
                display: block;

                span {
                    border: 1px solid @blue;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: @blue;
                    margin: auto;
                    font-size: 20px;
                }

                p {
                    color: @white;
                    margin-top: 8px;
                    text-align: center;
                }
            }
        }
    }

    .salary {
        margin-top: 20px;
        overflow: hidden;

        ul {
            height: calc(100vh - 278px);
            overflow-y: auto;

            li {
                border-radius: 6px;
                background-color: #062e46;
                padding: 15px;
                margin-bottom: 10px;

                h5 {
                    border-bottom: 1px solid @borderColor;
                    line-height: 180%;
                    color: @white;
                    position: relative;

                    span {
                        position: absolute;
                        right: 0;
                    }
                }

                .data {
                    margin-top: 15px;
                    position: relative;
                    padding-left: 115px;
                    min-height: 100px;

                    .progressSet {
                        position: absolute;
                        top: 0;
                        left: 0;

                        .progressData {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100px;
                            height: 100px;
                            padding: 15px 0;
                            text-align: center;
                            box-sizing: border-box;
                            align-items: center;

                            h6 {
                                font-size: 22px;
                                font-family: number;
                                color: @white;
                                line-height: 40px;
                            }

                            p {
                                color: @white;
                            }
                        }
                    }

                    .result {
                        p {
                            padding: 0;
                            margin: 0;
                            line-height: 25px;
                            color: @white;
                            position: relative;

                            span {
                                position: absolute;
                                right: 0;
                                top: 0;
                                line-height: 25px;
                                color: @blue;
                                font-family: number;
                            }
                        }
                    }
                }
            }
        }
    }
}


/**
**
**
**--------------------------------------------details---------------------------------
**
**/
.news-title {
    padding: 20px 0 8px;
    border-bottom: 1px solid @borderColor;

    h5 {
        color: @white;
        font-size: 16px;
        line-height: 180%;
    }

    p {
        color: @gray;
    }

}

.newsContent {
    margin-top: 20px;
    color: @white;

    p {
        line-height: 180%;
    }

    img {
        margin: 10px 0
    }
}

/**
**
**
**------------------------------my>language-----------------------------------
**
**
**/
.selectLang {
    padding: 20px 0 0;
    text-align: center;

    p {
        color: @white;
        text-align: left;
    }

    .el-radio-group {
        width: 100%;
    }

    .el-radio {
        width: 40%;
        text-align: center;
        background: @borderColor;
        border: none;
        border-radius: 20px;
        color: @white;
        position: relative;

        b {
            width: 100%;
            height: 100%;
            display: block;
            background: transparent;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
        }

        .el-radio__inner {
            display: none;
        }
    }

    .el-radio.is-bordered {
        border: none;
        border-radius: 20px;
    }

    .el-radio.is-bordered.is-checked {
        background: @blue;
    }

    .el-radio__input.is-checked+.el-radio__label {
        color: @white;
    }
}

/**
**
**
**-----------------------------------personality-------------------------------------
**
**
**/
.personality {
    padding: 0 10px;
}

.photo {
    width: 100%;
    padding-top: 20px;
    ;
}

.selectPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectPhoto>img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.picter-list {
    margin-top: 30px;
    height: 210px;
}

.picter-list>li {
    width: 25%;
    float: left;
    display: block;
    margin-bottom: 30px;
}

.picter-list>li>img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 auto;
    display: block
}

#add-picter {
    width: 45px;
    height: 45px;
}

#add-picter.avatar-uploader .el-upload {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 60px;
    box-sizing: none;
    background: #01c176;
    border: none;
    display: block;
}

#add-picter .el-upload-list--picture-card {
    display: none
}

#add-picter .avatar-uploader-icon {
    color: white
}

.seting .el-input__inner {
    border: none;
    color: white;
    border-bottom: 1px solid @borderColor;
    background: transparent;
    border-radius: 0;
    padding: 0
}

.demo-ruleForm .el-form-item__label {
    color: @white;
}

.rondom {
    width: 20px;
    display: block;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.addAvatar {
    width: 45px;
    height: 45px;
    background: @blue;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.addAvatar input {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 9;
    appearance: none;
    -webkit-appearance: none;
    width: 45px;
    height: 45px;
}

.addAvatar i {
    color: @white;
    font-size: 24px;
    display: block;
    top: 0px;
    position: absolute;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
}


/**
**
**
**---------------------------------about----------------------------------
**
**/
.aboutContent {
    padding: 20px 0;
    overflow: hidden;

    .aboutfont {
        background: #062e46;
        border-top: 2px solid @blue;
        padding: 20px;
        height: calc(100vh - 162px);
        overflow-y: auto;

        img {
            width: 80px;
            margin: 0 auto;
            display: block;
            margin-bottom: 50px;
        }

        p {
            line-height: 180%;
            margin: 0;
            text-align: justify;
            color: @white;
            margin-top: 15px;
        }

        .downloadCode {
            width: 120px;
            margin: 20px auto 0;
            border-radius: 6px;

            img {
                width: 100%;
                margin: 0
            }
        }

        .codefont {
            text-align: center;
            color: @white;
            margin-top: 15px;
        }
    }
}

/**
**
**-------------------------------------FC记录-----------------------------
**
**/
.record {
    overflow: hidden;

    p {
        color: @white;
        text-align: center;
    }

    ul {
        // height: calc(100vh - 80px);
        overflow-y: auto;

        li {
            border-bottom: 1px solid @borderColor;
            padding: 8px 0;
            position: relative;
            margin-bottom: 8px;

            p {
                color: @gray;
                line-height: 30px;
                text-align: left;
            }

            h6 {
                position: absolute;
                right: 0;
                line-height: 30px;
                top: 8px;
            }
        }
    }

}

/**
**
8*-------------------------------------fc>compensation---------------------------------
**
**/
.take {
    color: @gray;
    text-align: right;
    line-height: 60px;
    display: block
}

#waveEchart {
    width: 150px;
    height: 150px;
}

.compensation {
    margin-top: 20px;

}

/*
*
*
*------------------------------媒体查询----------------------------------
*
*/
@media screen and (min-height: 737px) {
    #login {
        padding: 50px 0;

        .loginForm {
            margin-top: 80px;
        }

        .submit.el-button {
            margin-top: 40px
        }

        .otherLoginWay {
            bottom: 70px
        }
    }
}

/*
*
*
*--------------------------password---------------------------------------
*
*
*
*/

#pin {
    .el-dialog {
        background: @bgk;
        margin-top: 50px !important;
        margin-bottom: 0 !important;
        width: 100%;
        height: calc(100vh - 50px)
    }

    .el-icon-close {
        color: @white;
    }
}

.pay-tool {
    overflow: hidden;
    position: fixed;
    display: block;
    min-height: 80vh;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
}

.pay-tool-title {
    width: 100%;
    height: 2.08888888rem;
    line-height: 2.08888888rem;
    text-align: center;
    overflow: hidden;

    p {
        color: @white
    }
}

.icon1 {
    float: left;
    margin-top: 0.72222222rem;
}

strong {
    font-size: 16px;
}

.pay-tool-inputs {
    width: 312px;
    height: 32px;
    margin: 1.28888888rem auto 0;
    border-radius: 0.26666666rem;
    text-align: center;
}

.item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid @blue;
    border-radius: 50%;
    margin: 10px;
    float: left;
    overflow: hidden;
}

.icon_dot {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../image/round.png') no-repeat center;
    background-size: cover;
}

.pay-tool-keyboard {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.pay-tool-keyboard ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pay-tool-keyboard li {
    width: 33.1333%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    color: @white;
}